<h2 id="restaurant-{{restaurant.id}}">{{restaurant.name}}</h2>
<section id="menus">
  <h3>Menus</h3>
</section>
<form id="add-menu-form">
  <h3>Add Menu</h3>
  <label for="menu-title-input">Title</label>
  <input id="menu-title-input" name="title" />
  <button type="submit">Add</button>
</form>
<script src="/restaurant.js"></script>