<h2 id="restaurant-{{restaurant.id}}">{{restaurant.name}}</h2>
<section id="menus">
  <h3>Menus</h3>
</section>
<form id="add-menu-form">
  <h3>Add Menu</h3>
  <label for="menu-title-input">Title</label>
  <input id="menu-title-input" name="title" />
  <button type="submit">Add</button>
</form>
<form id="add-item-form">
  <h3>Add Item</h3>
  <label for="item-menu-select">Menu</label>
  <select id="item-menu-select" name="menu"></select>
  <label for="item-name-input">Name</label>
  <input id="item-name-input" name="name" />
  <label for="item-price-input">Price</label>
  <input type="number" id="item-price-input" step=".01" name="price" />
  <button type="submit">Add</button>
</form>
<script src="/restaurant.js"></script>