<section class="restaurants">
  {{#each restaurants}}
    <article class="restaurant">
      <img src="{{image}}" />
      <br />
      <a href="/web/restaurants/{{id}}">{{name}}</a>
    </article>
  {{/each}}
</section>