* {                 /* applies to all elements */
    padding: 0;
    margin: 0;
}

/* css defaults for mobile devices */
h1 {
    padding: 1rem;
    border-bottom: solid 1px black;
}
article {
    border: solid 1px black;
    width: calc(100% - 2rem);
    height: 35em;
    margin: 1rem 1rem;
}

body {
    background-color: rgb(136, 9, 94);
}

@media screen and (min-width: 40em) {
    /* css overrides for mid-sized screens goes here */
      section {
          margin: 1rem;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: none;
          gap: 1rem;
      }
      article {
          margin: 0;
          width: 100%;
      }

      body {
        background-color: rgb(9, 136, 26);
    }
  }

@media screen and (min-width: 60em) {
    /* css overrides for large screens goes here */
    section {
        grid-template-columns: auto auto auto;
    }

    body {
        background-color: rgb(9, 17, 136);
    }
}


