<section>
    {{#each restaurants}}
        <article>
            <img src="{{image}}"/>
            <h2>{{name}}</h2>
            <a href="/web/restaurants/{{id}}">Open</a>
        </article>
    {{/each}}
</section>